TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ETF_NAME=SPDR MSCI World UCITS ETF
ETF_TICKER=SPPW
YAHOO_SYMBOL=SPPW.DE
TIMEZONE=Europe/Madrid
RUN_MODE=auto
SECTION_NEWS_LIMIT=5
AI_SUMMARIES_ENABLED=1
AI_MODEL_NAME=google/flan-t5-base
AI_TRANSLATION_MODEL=Helsinki-NLP/opus-mt-en-es
