TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ETF_NAME=SPDR MSCI World UCITS ETF
ETF_TICKER=SPPW
YAHOO_SYMBOL=SPPW.DE
TIMEZONE=Europe/Madrid
RUN_MODE=auto
SECTION_NEWS_LIMIT=5
AI_SUMMARIES_ENABLED=1
AI_MODEL_NAME=google/flan-t5-base
AI_NEWS_SUMMARY_MODEL=facebook/bart-large-cnn
AI_TRANSLATION_MODEL=facebook/nllb-200-distilled-600M
AI_TRANSLATION_SOURCE_LANG=eng_Latn
AI_TRANSLATION_TARGET_LANG=spa_Latn
